.vscode
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio1/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio1/build/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio2/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio2/build/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio3/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio3/build/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio4/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio4/build/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio7/nbproject/private/