.vscode
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio1/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio1/build/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio2/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio2/build/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio3/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio3/build/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio4/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio4/build/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio7/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio7/build/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio10/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork2/Ejercicio10/build/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio1/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio1/build/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio3/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio3/build/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio5/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio5/build/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio7/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio7/build/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio9/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork3/Ejercicio9/build/
/SecondSemester/Progra1/GroupWorks/GroupWork4/Ejercicio1/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork4/Ejercicio1/build/
/SecondSemester/Progra1/GroupWorks/GroupWork4/Ejercicio4/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork4/Ejercicio4/build/
/SecondSemester/Progra1/GroupWorks/GroupWorks5/Ejercicio1/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWorks5/Ejercicio5/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWorks5/Ejercicio4/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWorks5/Ejercicio4/build/
/SecondSemester/Progra1/GroupWorks/GroupWorks5/Ejercicio7/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWorks5/Ejercicio7/build/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio2/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio5/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio5/build/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio1/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio1/build/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio2/build/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio3/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio4/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio4/build/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio7/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork6/Ejercicio7/build/
/SecondSemester/Progra1/GroupWorks/GroupWork7/Ejercicio2/nbproject/private/
/SecondSemester/Progra1/GroupWorks/GroupWork7/Ejercicio2/build/
/SecondSemester/Progra1/GroupWorks/GroupWork7/Ejercicio3/nbproject/private/